body {
  color: black;
}

#game {
  display: flex;
  flex-direction: column;
}

#player-stats {
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
}

#player-history {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  overflow-y: auto;
}